---
---
<div class="c--cta-b">
    <h3 class="c--cta-b__title">Discover More Insights</h3>
    <p class="c--cta-b__description">Subscribe to get the latest updates directly in your inbox.</p>
    <button class="c--cta-b__btn">Subscribe</button>
</div>
