---
import { Image } from 'astro:assets';
import localBirdImage from '../../images/subfolder/localBirdImage.png';


---
<div class="c--header-a">
    <div class="f--container">
        <div class="f--row">
            <div class="f--col-12">
                <div class="c--header-a__wrapper">
                    <Image src="http://placeholder.terrahq.com/logo-rectangular.webp" alt="A bird." width="229" height="47" />
                </div>
            </div>
        </div>
    </div>
</div>
