---
import PreloaderA from "@components/preload/PreloaderA.astro";
import HeaderA from "@components/header/HeaderA.astro";
import "@scss/style.scss";
---
<script>
	import Project from "@js/Project.js";
	// Initialize the project no more <script> tags in Astro should be used
	new Project()
</script>
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Terra Backend Trial</title>
		<link rel="stylesheet" href="https://unpkg.com/@terrahq/design-system@latest/dist/style.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<PreloaderA />
		<HeaderA/>
		
		<div class="c--page-a">
			<div class="c--page-a__ft-items">
				<slot />
			</div>
			<div class="c--page-a__bg-items">
				
			</div>
		</div>
		
	</body>
</html>


